#pixelPainter {
  width : ;
  margin : 0 auto;
}

.colorBtn {
  height: 50px;
  width: 50px;
  /*display:inline-table;*/
}

#paintColors {
  display: ;
  width: 500px;
}

.gridDivSmall {
	height : 450px;
	width : 450px;
	display : inline-block;
}

.gridDivLarge {
  height : 850px;
  width : 850px;
  display : inline-block;
}

#prompt {
  display: none;
}

/* Color Paint Buttons */

#pink {
  background: #FF4DA2;
}
#blue {
  background: #79D5FF;
}
#purple {
  background: #B74EE8;
}
#green {
  background: #5BFF94;
}
#red {
  background: #e62e00;
}
#yellow {
  background: #ffff00;
}
#brown {
  background: #663300;
}
#heart {
  height: 45px;
  width: 45px;
  border: 0.5px solid gray;
}

/* No Color Grid Class*/
.empty {
  height : 25px;
  width : 25px;
  border:  1px solid grey;
  display : inline-block;

}

/* Grid Class Colors */

.pink {
  background: #FF4DA2;
}
.blue {
  background: #79D5FF;
}
.purple {
  background: #B74EE8;
}
.green {
  background: #5BFF94;
}
.white {
  background: #FFFFFF;
}
.red {
  background: #e62e00;
}
.yellow {
  background: #ffff00;
}
.brown {
  background: #663300;
}
.heart {
  background-image: url("heart.png");
  background-size: contain;
}


