body {
  background: url('http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center

}

#pixelPainter {
  width: 800px;
  padding: 50px;
  margin: 0 auto;
}

.colorBtn {
  height: 50px;
  width: 50px;
  display:inline-block;

}

#paintColors {
  display: ;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}
#extraBtns {
  width: 140px;
  margin: 0 auto;
  font-size: 20px;
}

#gridContainer {
  width: 800px;
  margin: 0 auto;
  padding: 25px;
}
.gridDivSmall {
	height : 450px;
	width : 450px;
  margin: 0 auto;
}

.gridDivLarge {
  height : 850px;
  width : 850px;
  display : inline-block;
  margin: 0 auto;
}

#prompt {
  display: none;
}

/* Color Paint Buttons */

#heart {
  height: 45px;
  width: 45px;
  border: 2px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

#star {
  height: 45px;
  width: 45px;
  border: 2px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

#circle {
  height: 45px;
  width: 45px;
  border: 2px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}


/* No Color Grid Class*/

.empty {
  height : 25px;
  width : 25px;
  border:  1px solid grey;
  display : inline-block;
}


/* Grid Stickers */

.heart {
  background-image: url("heart.png");
  background-size: contain;
}
.star {
  background-image: url("http://pngimg.com/upload/small/star_PNG1583.png");
  background-size: contain;
}
.circle {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Map-circle-black.svg/1024px-Map-circle-black.svg.png");
  background-size: contain;
}


